/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

#logo {
	padding: 2px;
}

#header {
 	background: #ac2773 !important;
 	/*border: 0px;
 	color: #FFF;
 	height: 42px;*/
}

#navbar {
	border-bottom: 1px solid #999;
}









































#page_details .ui-content {
	padding: 0px;
}

#page_details .ui-content .tab-content .overview {

}
#page_details .ui-content .tab-content .overview .overview-header {
	background-color: #ccc;
	border-bottom: 1px solid #999;
}

.overview-header .metadata {
	margin-top: 0;
	margin-bottom: 0;
}
.overview-header .metadata #details-rating-value {
	color: #9e005d;
	font-size: 0.9em;
	font-weight: bold;
	display: table-cell;
	padding-top: 4px;
}


#page_details .ui-content .tab-content .overview .overview-content, #page_details .ui-content .tab-content .overview .overview-header {
	padding: 16px;
}

.ui-page-theme-a .ui-bar-inherit .container {
 	display: table;
	width: 100%;
}


#page_home > .ui-panel-wrapper > .ui-header.ui-bar-inherit > span,
#page_details > .ui-panel-wrapper > .ui-header.ui-bar-inherit > span  {
	display: list-item;
	position: relative;
}

#page_home > .ui-panel-wrapper > .ui-header.ui-bar-inherit > span > a,
#page_details > .ui-panel-wrapper > .ui-header.ui-bar-inherit > span > a {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);

}

#page_home > .ui-panel-wrapper > .ui-header.ui-bar-inherit > span > h2,
#page_details > .ui-panel-wrapper > .ui-header.ui-bar-inherit > span > h2  {
	font-size: 1em;
	min-height: 1.1em;
	text-align: center;
	display: block;
	margin: 0 30%;
	padding: .7em 0;
	text-overflow: ellipsis;
	overflow: hidden;
	outline: 0!important;
}

.result-header, .result-body, .result-misc {
	position: absolute;
	font-weight: bold;
}
.result-header.short, .result-body.short, .result-misc.short {
	max-width: 222px;
	white-space: normal;
	word-wrap: break-word;
}
.result-header, .result-header.short {
	top: 3px;
}
.result-body, .result-body.short {
	top: 38px;
}
.result-misc, .result-misc.short {
	top: 73px;
}

.result-header {
	color: #ef8200;
}

.result-body {
	color: #666;
}

.result-misc {
	color: #cccccc;
    font-size: 12px;
}

.result-image, .result-image img {
	width: 80px; 
	height: 80px; 
	background-color: green;
}

.result-rating {
	position: absolute;
	top: 10px;
	left: 185px;
}

#results li a {
	min-height: 100px;
}

.details_name {
	margin-top: 0;
}
#details_name {
	font-size: 2em;
}

#details_category, #details_tagline {
	font-size: 1em;
	color: #666;
}














































/* -- Unordered list -- */
#results {
	margin-top: 10px;
}

.reviews {
	padding: 16px;
}
#reviews {
	margin: 0;
}
#reviews .review-header {
	margin: 0;
}
#reviews .review-header .review-date {
	font-size: 0.6em; 
}
#reviews .review-body {
	margin-bottom: 15px;
}

#reviews .review-body .review-scores {
	list-style: none;
	padding-left: 0;
}
#reviews .review-body .review-scores li {
	float: left;
	clear: none;
	margin: 0;
	width: 50%;
}
#reviews .review-body .review-scores li:nth-child(odd) {
	width: 47%;
	padding-right: 3%;
}
#reviews .review-body .review-scores li span {
	color: #999;
	display: inline;
	float: left;
	font-size: 13px;
	font-weight: bold;
	margin-top: 5px;
}
#reviews .review-body .review-scores li strong {
    color: #9e005d;
	display: inline;
	font-size: 18px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	float: right;
}
#reviews .review-header .average-rating {
	bottom: 0px;
	font-size: 19px;
	position: absolute;
	right: 10px;
	margin-bottom: 6px;
    word-wrap: break-word;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.4),0 1px 2px rgba(0,0,0,0.2);
	background-color: #be5492;
	background-image: -webkit-linear-gradient(#be5492, #ad2876);
	background-image: linear-gradient(#be5492, #ad2876);
	border: 1px solid #9e005d;
	border-radius: 26px;
	color: #fff;
	display: inline-block;
	height: 38px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 21px;
	font-weight: 600;
	letter-spacing: -1px;
	line-height: 39px;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,0.7);
	width: 38px;
}

.stars>span {
  background: url(../img/rating-stars.png) 0 -48px no-repeat;
  display: block;
  height: 24px;
}
.stars-10 {
	width: 103px;
}
.stars-9 {
	width: 94px;
}
.stars-8 {
	width: 82px;
}
.stars-7 {
	width: 73px;
}
.stars-6 {
	width: 61px;
}
.stars-5 {
	width: 52px;
}
.stars-4 {
	width: 40px;
}
.stars-3 {
	width: 31px;
}
.stars-2 {
	width: 19px;
}
.stars-1 {
	width: 10px;
}
.stars {
  background: url(../img/rating-stars.png) 0 2px no-repeat;
  float: left;
  height: 24px;
  margin-right: 8px;
  width: 103px;
}